extends ../layout.jade


block content
	#content.container.bs-docs-container
		.row
			.col-md-9(role="main")
				.artical-container.boxed
					ul.artical-list
						each item in works
							li
								each cat in wCates
									if cat.id == item.workCates
										a(href="/work/see?catId=#{item.workCates}&p=0") 
											span.articalCat #{cat.title}
								a.articalTitle(href="/work/#{item._id}") #{item.title}
								span.articalView (view:#{item.pv}	)
								span.articalTime #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
				ul.pagination.pull-right
					-for(var i = 0;i < totalPage;i++){
						-if(currentPage == (i+1)){
							li.active
								span #{currentPage}
						-}else{
							li
								a(href="/work/see?#{query}&p=#{i}") #{i+1}
						-}
					-}
			.col-md-3
				.aboutMe.boxed.blue-line.blue-line.artical-container
					img.about-avatar(src="/img/avatar.jpg",alt="my avatar")
					.about-text 关注并喜欢前端技术
					.about-text2 喜欢倒腾，对互联网充满热情
					.about-decor
				.newArticle.panel.panel-default.boxed.artical-container
					.panel-heading 最新文章
					.panel-body
						ul.side_article_list
							each item in newPosts
								li.side_article_list_item #{item.status}.
									a(href="/newPost/#{item._id}") #{item.title}
