extends ../layout.jade


block content
	#content.container.bs-docs-container
		.row
			.col-md-8(role="main")
				.artical-container.boxed
					.inner
						h3.artical-title 
							a #{life.title}
						each cat in lCates
							if cat.id == life.lifeCates
								small.artical-subTitle 
									span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true") 分类: 
									a(href="/life/see?catId=#{life.lifeCates}&p=0") #{cat.title} 
						small 
							span.glyphicon.glyphicon-star(aria-hidden="true") 访问量:#{life.pv}
						small 
							span.glyphicon.glyphicon-pencil(aria-hidden="true") 来源:#{life.origin}
						small.artical-subTitle  #{moment(life.meta.updateAt).format('MM/DD/YYYY')}
						.artical-content
							p !{life.content}
				<div class="ds-thread" data-thread-key="#{life.id}" data-title="#{life.title}" data-url="http://www.coolwubo.com/life/see?catId=#{life.id}"></div>
			.col-md-4
				.newArticle.panel.panel-default.boxed.artical-container
					.panel-heading 最新文章
					.panel-body
						ul.side_article_list
							each item, index in newPosts
								li.side_article_list_item 
									a(href="/newPost/#{item._id}") #{item.title}
									span.side_article_list_view #{item.pv}
	script(src="/js/duoshuo.js")