extends ../layout.jade


block content
	#content.container.bs-docs-container
		.row
			.col-md-8(role="main")
				.artical-container.boxed
					ul.artical-list
						if works.length > 0
							each item in works
								li
									each cat in wCates
										if cat.id == item.workCates
											a(href="/work/see?catId=#{item.workCates}&p=0") 
												span.articalCat #{cat.title}
									a.articalTitle(href="/work/#{item._id}") #{item.title}
									span.articalView (view:#{item.pv}	)
									span.articalTime #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
						else
							a.noResult 对不起，您要查找的资源不存在~
				ul.pagination.pull-right
					-for(var i = 0;i < totalPage;i++){
						-if(currentPage == (i+1)){
							li.active
								span #{currentPage}
						-}else{
							li
								a(href="/search?#{query}&p=#{i}") #{i+1}
						-}
					-}
			.col-md-4
				.newArticle.panel.panel-default.boxed.artical-container
					.panel-heading 最新文章
					.panel-body
						ul.side_article_list
							each item, index in newPosts
								li.side_article_list_item 
									a(href="/newPost/#{item._id}") #{item.title}
									span.side_article_list_view #{item.pv}
