extends ../layout.jade

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th user name
            //- th input time
            th chakan
            th gengxin
            th shanchu
         tbody
           each item in users
             tr(class="item-id-#{item._id}")
               td #{item.name}
               //- td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
               td: a(target-"_blank",href="../movie/#{item._id}") chakan
               td: a(target-"_blank",href="../admin/update/#{item._id}") xiugai
               td: button.btn.btn-danger.del(type="button",data-id="#{item._id}") shanchu


