extends ../layout.jade


block content
	#scrollProgress
	#content.container.bs-docs-container
		.row
			.col-md-8(role="main")
				.artical-container.boxed
					.inner
						h3.artical-title 
							//- a(href="/work/detail?id=#{work.id}") #{work.title}
							a #{work.title}
						each cat in wCates
							if cat.id == work.workCates
								small.artical-subTitle 
									span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true") 分类: 
									a(href="/work/see?catId=#{work.workCates}&p=0") #{cat.title} 
						small 
							span.glyphicon.glyphicon-star(aria-hidden="true") 访问量:#{work.pv}
						small 
							span.glyphicon.glyphicon-pencil(aria-hidden="true") 来源:#{work.origin}
						small.artical-subTitle  #{moment(work.meta.updateAt).format('MM/DD/YYYY')}
						.artical-content
							p !{work.content}
						span#extendShow.fa.fa-expand.fa-3x(title="扩展显示")
				.ds-share.flat(data-thread-key="#{work.id}",data-title="#{work.title}",data-images="http://www.coolwubo.com/img/logo.png",data-content="点击查看具体内容",data-url="http://www.coolwubo.com/work/#{work.id}")
					.ds-share-aside-right
						.ds-share-aside-inner
						.ds-share-aside-toggle 分享到
				<div class="ds-thread" data-thread-key="#{work.id}" data-title="#{work.title}" data-url="http://www.coolwubo.com/work/#{work.id}"></div>

			.col-md-4
				.smallAboutMe
					<wb:follow-button uid="1825473213" type="red_3" width="250" height="24" class="smallWeibo"></wb:follow-button>
				.newArticle.panel.panel-default.boxed.artical-container
					.panel-heading 最新文章
					.panel-body
						ul.side_article_list
							each item, index in newPosts
								li.side_article_list_item 
									a(href="/newPost/#{item._id}") #{item.title}
									span.side_article_list_view #{item.pv}
				.BlogAnchor.newArticle.panel.panel-default.boxed.artical-container
					#AnchorContentToggle.panel-heading(title="收起",style="cursor:pointer;") 文章目录
					.AnchorContent.panel-body.AnchorContent
		script(src="/js/duoshuo.js")
			
