extends ../layout.jade


block content
	#content.container.bs-docs-container
		.row
			.col-md-8(role="main")
				.artical-container.boxed
					.inner
						h3.artical-title 
							//- a(href="/work/detail?id=#{work.id}") #{work.title}
							a #{work.title}
						each cat in wCates
							if cat.id == work.workCates
								small.artical-subTitle 
									span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true") 分类: 
									a(href="/work/see?catId=#{work.workCates}&p=0") #{cat.title} 
						small 
							span.glyphicon.glyphicon-star(aria-hidden="true") 访问量:#{work.pv}
						small 
							span.glyphicon.glyphicon-pencil(aria-hidden="true") 来源:#{work.origin}
						small.artical-subTitle  #{moment(work.meta.updateAt).format('MM/DD/YYYY')}
						.artical-content
							p !{work.content}
				<div class="ds-thread" data-thread-key="#{work.id}" data-title="#{work.title}" data-url="http://www.coolwubo.com/work/see?catId=#{work.id}"></div>
			.col-md-4
				.aboutMe.boxed.blue-line.blue-line.artical-container
					img.about-avatar(src="/img/avatar.jpg",alt="my avatar")
					.about-text 关注并喜欢前端技术
					.about-text2 喜欢倒腾，对互联网充满热情
					.about-decor
				.newArticle.panel.panel-default.boxed.artical-container
					.panel-heading 最新文章
					.panel-body
						ul.side_article_list
							each item in newPosts
								li.side_article_list_item #{item.status}.
									a(href="/newPost/#{item._id}") #{item.title}
		script(src="/js/duoshuo.js")
